.menu {
	margin-bottom: 10px;
}

li.teams-menu-option,
li.menu-option {
    display: inline-block;
    width: 100px;
    padding: 10px;
    font-size: 12pt;
    font-family: helvetica;
    text-align: center;
    border-bottom: solid 2px transparent;
}

li.teams-menu-option:hover,
li.menu-option:hover {
	cursor: pointer;
	/*background-color: lightgray; */
	border-bottom: solid 2px lightgray;

}

li.teams-menu-option.selected,
li.menu-option.selected {
	border-bottom: solid 2px darkorange;
}
