.country-name {
	width: 100px;
}

.country-section {
	display: inline-block;
	vertical-align: middle;
}

.team-player {
	fill: rgba(0,0,0,.25);
}

.team-visualization .axis {
	margin-left: 100px;
}

.team-visualization .axis .tick text {
	text-anchor: middle;
	font-size: 6pt;
}

.team-visualization .axis .tick line {
	stroke: rgba(0,0,0,.35);
}