.country-name {
	width: 100px;
}

.country-section {
	display: inline-block;
	vertical-align: middle;
}

.team-player {
	fill: rgba(0,0,0,.25);
}

.team-player:hover {
	cursor: pointer;
	/*fill: red;*/
}

.team-visualization .axis {
	margin-left: 100px;
}

.team-visualization .axis .tick text {
	text-anchor: middle;
	font-size: 6pt;
}

.team-visualization .axis .tick line {
	stroke: rgba(0,0,0,.35);
}

.team-mean {
	fill: gray;
	font-size: 8pt;
	font-family: helvetica;
}


.team-player.selected {
	fill: red;
}

